
.home{
  background: url("../img/home/rectangle.png")center/cover;
  padding: 319px 0 335px;
  &__title{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
    margin-bottom: 20px;
  }
  &__info{
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;


  }
  &__btn{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 45px;
    text-align: center;

    color: #FFFFFF;
    text-decoration: none;
    background: #4985FF;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    width: 200px;
    height:45px;

    display: block;
    margin: 0 auto;
  }
}